@inherits LayoutComponentBase
@inject States States

@if (States.IsLoging)
{
    <div class="main">
        <div class="content">
            @Body
        </div>
    </div>
}
else
{
    <Layout ShowFooter="true" IsFixedFooter IsPage>
        <Header>
            <h4>BlazorHybrid</h4>
        </Header>
        <Main>
            @Body
        </Main>
        <Footer>
            <NavMenu />
        </Footer>
    </Layout>

}

@code{

    [Parameter]
    public EventCallback Changed { get; set; }

}