@inherits LayoutComponentBase

@*<div class="main">
    <div class="content">
        @Body
    </div>
</div>*@
<Layout ShowFooter="true" IsFixedFooter IsPage>
    <Header>
        BlazorHybrid
    </Header>
    <Main>
        @Body
    </Main>
    <Footer>
        <NavMenu />
    </Footer>
</Layout>