
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.totalbar {
    position: fixed;
    z-index: 10;
    bottom: 2.5rem;
    right: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightslategrey;
    opacity: 0.7;
}

.btn-fade {
    --bb-button-circle-width: 40px;
    --bb-button-circle-height: 40px;
    opacity: 0.7;
    box-shadow: 0 0 8px #211b50;
    transition: opacity .3s linear;
    position: fixed;
    z-index: 10;
    --bs-btn-bg: #8759ff;
    --bs-btn-hover-bg: var(--bs-btn-bg);
    --bs-btn-active-bg: var(--bs-btn-bg);
    bottom: 5rem;
    right: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-fade2 {
    --bb-button-circle-width: 40px;
    --bb-button-circle-height: 40px;
    opacity: 0.7;
    box-shadow: 0 0 8px #211b50;
    transition: opacity .3s linear;
    position: fixed;
    z-index: 10;
    --bs-btn-bg: #8759ff;
    --bs-btn-hover-bg: var(--bs-btn-bg);
    --bs-btn-active-bg: var(--bs-btn-bg);
    bottom: 8rem;
    right: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-fade3 {
    --bb-button-circle-width: 40px;
    --bb-button-circle-height: 40px;
    opacity: 0.7;
    box-shadow: 0 0 8px #211b50;
    transition: opacity .3s linear;
    position: fixed;
    z-index: 10;
    --bs-btn-bg: #8759ff;
    --bs-btn-hover-bg: var(--bs-btn-bg);
    --bs-btn-active-bg: var(--bs-btn-bg);
    bottom: 5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabcontet {
    height: 90%;
}

.deskIcon {
    width: 120px;
    height: 120px;
}

.deskTitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.orderIcon {
    width: 150px;
    height: 200px
}

.orderImage {
    width: 120px;
    height: 90px
}

.orderTitle {
    height: 40px;
    overflow: hidden;
}

/* Screens Resolution : 500px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 948px) {
    .tabs .tabs-body {
        padding: 0px;
    }

    .deskIcon {
        width: 98px;
        height: 98px;
    }

    .deskTitle {
        font-size: 1.1rem;
    }

    .orderIcon {
        width: 120px;
        height: 175px
    }

    .orderImage {
        width: 90px;
        height: 70px
    }
}

@media only screen and (max-width: 600px) {

    .deskIcon {
        width: 98px;
        height: 98px;
    }

    .orderIcon {
        width: 98px;
        height: 165px
    }

    .orderImage {
        width: 70px;
        height: 60px
    }
}

@media only screen and (max-width: 390px) {
    /*iphone13*/

    .deskIcon {
        width: 93px;
        height: 92px;
    }

    .orderIcon {
        width: 96px;
        height: 165px
    }

    .orderImage {
        width: 66px;
        height: 60px
    }
}


.content code.highlight,
.alert-content code,
.content p code, .content li code {
    background-color: #fff5f8 !important;
}

.layout.is-page .layout-side {
    color: #3f4254;
    background-color: #fff;
    box-shadow: 0 0 28px 0 rgb(82 63 105 / 5%);
}

.layout.is-page .layout-user .layout-title {
    color: #3f4254;
}

.layout.is-page .layout-footer {
    background-color: #f8f9fa;
}

.layout-gotop {
    background: #e9ecef;
    color: #3f4254;
}

    .layout-gotop:hover {
        background-color: #dee2e6;
    }

.tabs-body {
    background-color: #fff;
}

.page-layout-demo-footer-link {
    color: #3f4254;
}

.menu .nav .dropdown-menu .nav-link:not(.disabled):hover, .menu .nav .dropdown-menu .nav-link.active, .menu .submenu .nav-link.active, .menu .submenu .nav-link:not(.disabled):hover, .cascade .dropdown-item:not(.disabled):hover, .cascade .dropdown-item.active, .cascade .nav .nav-link:not(.disabled):hover, .cascade .nav .nav-link.active {
    --bb-bg-violet: #7a5cff;
    background-color: var(--bb-bg-violet);
    color: var(--bs-white);
}
